<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Profesorado de Historia</h2> - 
                <h3>(4 años)</h3>          
            </li>
            <p> Profesor de Historia gradudado del ISFD N° 104 de Quilmes, con un promedio general de 9, 08
            </p>
        </ul>
        <ul>
            <li><h2>CBC Historia (UBA)</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Ciclo Basico Comun orientado en Historia en la Universidad de Buenos Aires.
            </p>
        </ul>
        <ul>
            <li><h2>Technical Support Fundaments</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera Virtual en la plataforma educativa de Coursera con el aval de Google.
            </p>
        </ul>
        <ul>
            <li><h2>Introduction to Virtual Reality</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera Virtual en la plataforma educativa de Coursera con el aval de la Universidad de Londres.
            </p>
        </ul>
        <ul>
            <li><h2>The Bytes and Bytes of Computer Network</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera Virtual en la plataforma educativa de Coursera con el aval de Google.
            </p>
        </ul>
        <ul>
            <li><h2>Office Intermedio</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera virtual por medio de la plataforma Telefonica Educación Digital.
            </p>
        </ul>
        <ul>
            <li><h2>Ciberseguridad en Entornos Educativos</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera virtual por medio de la plataforma Telefonica Educación Digital.
            </p>
        </ul>

        <ul>
            <li><h2>Creación de Contenidos Digitales en el Entorno Educativo</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera virtual por medio de la plataforma Telefonica Educación Digital.
            </p>
        </ul>
        <ul>
            <li><h2>Fundamentos de Programación</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera virtual por medio de la plataforma Telefonica Educación Digital.
            </p>
        </ul>

        <ul>
            <li><h2>Diseño Web con HTML5+ CSS</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera virtual por medio de la plataforma Telefonica Educación Digital.
            </p>
        </ul>
        <ul>
            <li><h2>Programación con Java Standard</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Curso realizado de manera virtual por medio de la plataforma Telefonica Educación Digital.
            </p>
        </ul>

    </div>

</div>
