.row{
    padding: 20px;
}

div{
    background-color: #380B61;
    color: antiquewhite;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px -2px 5px #fcf7f7;
}