.row {
    background-color: rgb(30, 30, 87);
    margin: 5px;
    border-radius: 10px;
    
}
.redes{
    float: right;
    margin-top: 25px;
}
.logo {
    width: 150px;
}

.redes img{
    width: 50px;
   }

#banner{
    width: 100%;
    height: 300px;
    border-radius: 10px;
   margin-bottom: 5px;
    
}

.ingreso{
    padding: 20px;
    margin-right: 50px;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#boton{
    margin-left: 10px;
    margin-right: 10px;
}
@media(max-width:575px){
    .container{
        flex-direction: column;
        align-items: center;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes img{
        margin: 0.2em;
    }
}