
<div class="row">
    <div class="container">
        <div class="logo" >
            <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png" 
            id="logoap" class="img-fluid"
            alt="argentinaprograma">
        </div>
       
        <div class="redes">
            
                <a href="https://www.facebook.com/marcelo.riss.9?__tn__=%3C">
                    <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" 
                    class= "img-fluid" alt="facebook">
                </a>
            
                <a href="https://instagram.com/marcelosriss?igshid=Mzc0YWU1OWY=">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" 
                    class= "img-fluid" alt="instagram">
                </a>
            
                <a href="https://www.linkedin.com/in/marcelo-riss-50a770134/">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" 
                    class= "img-fluid" alt="linkedin">
                </a>
                <button id="boton" type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
             
        </div>
        
        
    </div> 
    
    <div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://static.vecteezy.com/system/resources/previews/006/832/155/non_2x/gradient-pick-color-for-background-social-media-post-or-banner-best-combination-color-famous-color-combination-booth-backdrop-vintage-color-combination-free-photo.jpg" 
            id="banner" class="img-fluid"
             alt="">
        
        </div>
    </div>
</div>