<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class=".col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2> {{Experiencia.nombreE}}<!--NOMBRE DE LA EXPERIENCIA LABORAL--></h2>
                    </td>
                    <td> {{Experiencia.descripcionE}}<!--DESCRIPCION DE LA EXP--></td>
                    <td *ngIf="isLogged"> <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i>
                            EDITAR<!--EDITAR-->
                        </button></td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i>BORRAR<!--BORRAR-->
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

<!--<div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Profesor de Historia</h2> - 
                <h3>(9 años)</h3>          
            </li>
            <p>Profesor Titular de Historia y Ciencias Sociales en el Instituto de Educación Secundaria M.Belgrano de Quilmes. Realizando tambien suplencias en áreas como Construcción de Ciudadania, Política, Filosofia y Geografia. 
            </p>
        </ul>
     
        <ul>
            <li><h2>Profesor de Computación</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Profesor de Computación para educación secundaria en el Instituo M.Belgrano. Centrado en la enseñanza de los programas del paquete de Office.
            </p>
        </ul>
        <ul>
            <li><h2>Editor de VideoScribe</h2> - 
                <h3>(1 año)</h3>          
            </li>
            <p>Editor de Videos por medio del programa VideoScribe para canales de Youtube</p>
        </ul>

    </div>

</div>-->