<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Modelo de Naciones Unidas</h2>
            <p>Modelo de Simulación de Naciones Unidas. Representando lo organos oficiales de la ONU.            
            </p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_United_Nations.svg/1200px-Flag_of_the_United_Nations.svg.png" alt="Proyecto Onu" class="img-fluid img-proyecto" width="50%" >
        </div>
    </div>

</div>
