<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class=".col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newskill" *ngIf="isLogged">
            Nueva Habilidad
        </button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [title]="(skill.nombre)"
            [titleColor]="'#380B61'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>

                 
            <td *ngIf="isLogged"> <button class="btn btn-light" routerLink="/edithys/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i>
                    <!--EDITAR-->
                </button></td>

            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i><!--BORRAR-->
                </button>
            </td>
        
    </div>
    
    
    
    
    
    <!--
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'HISTORIA'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'CSS'"
            [titleColor]="'blu#380B61e'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'VideoScribe'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'JavaScript'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'Office'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'Trabajo grupal'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'1em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'Manejo de Grupo'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'1em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'Investigación'"
            [titleColor]="'#380B61'"
            [titleFontSize]="'1em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#380B61'"
            [innerStrokeColor]="'#CEF6F5'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

</div>-->
