<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="fotoperfil" src="https://media.licdn.com/dms/image/C4E03AQH43Yz7wHm5Vg/profile-displayphoto-shrink_200_200/0/1626835952021?e=1684972800&v=beta&t=HDJCctiEtAetErdOvd1YKiEGdeg3WjBPuHSo9Plg2CE"
        class="img-fluid" alt="foto de perfil">
        </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

    <div id="acerca" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Riss Marcelo</p>
        <p>Full Stack Developer Jr</p>
        <p>Profesor de Historia</p>

    </div>

    <div id="acercade" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mi</h1>
            <p>Profesor de Historia y Ciencias Sociales con 9 años de experiencia en el area docente, especializado en Historia Antigua de Oriente Medio, Co-encargado de la organización de Modelos de ONU y Profesor Suplente de Computación. Poseo un gran interes por el ámbito de la tecnología 3D incursionando en el modelado y los conocimientos básicos de realidad virtual</p>
        </span>
    </div>


</div>
